.plateau {
    display: grid;
    grid-template-rows: repeat(22, 40px);
    grid-template-columns: repeat(19, 40px)
}

.mur {
    background-image: url(../img/mur.gif);
}

.sol {
    background-image: url(../img/sol.gif);
}

.bonbon {
    background-image: url(../img/bonbon.gif);
}

.pacman {
    background-image: url(../img/pacman4.gif);
}

.greenGhost {
    background-image: url(../img/fantome_vert1.gif);
}